
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 250px;
    height: 180px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("kepek/soros\ hatter.webp");
    color: #333;

}


#tarolo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


#fejlec {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    width:100%;
    
}

#fejlec ul {
    list-style-type: none;
}

#fejlec a {
    color: #df0c0c;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    
}


.menu {
    background-color: #444;
    overflow: hidden;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.menu a:hover {
    background-color: #575757;
}


.tartalom {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}




article {
    background-color: #2b2828;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


article h4 {
    font-size: 24px;
    color: #d6d6d6e0;
    margin-bottom: 15px;
    font-weight: bold;
}


article p {
    font-size: 16px;
    color: #7f8c8d;
    margin-bottom: 20px;
    line-height: 1.5;
}


article img {
    width: 70px;
    height: 100px;
    object-fit: cover; 

}















section.rendeles-menete {
    text-align: center;
    margin-bottom: 50px;
}

section.rendeles-menete h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

section.rendeles-menete p {
    font-size: 1.2em;
    margin-bottom: 40px;
}
.lepes {
    background-color: #535353;
    border-radius: 8px;
    padding: 150px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px;
}

.lepes img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.lepes h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #ffffff;
}

.lepes p {
    font-size: 1.2em;
    margin-bottom: 15px;
}




aside {
    width: 25%;
    background-color: #e2e2e2;
    padding: 15px;
    margin-left: 20px;
}

aside h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

aside ul {
    list-style-type: none;
}

aside li {
    margin-bottom: 10px;
}

aside a {
    color: #333;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}


#lablec {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}


@media screen and (max-width: 480px) {
    #fejlec a {
        font-size: 1.8rem;
    }

    section.rendeles-menete h2 {
        font-size: 1.5rem;
    }

    section.rendeles-menete p {
        font-size: 0.9rem;
    }

    .lepes {
        padding: 30px;
    }
}






